@font-face {
    font-family: 'Danmakudle';
    src: url('../font/danmakudle.woff2') format('woff2');
}

* {
    font-family: 'Danmakudle', monospace;
}

.fila-intento
{
    display:flex;
    gap:10px;
    margin:10px 0;
}

.caja
{
    min-width:150px;
    padding:12px;
    border-radius:8px;
    color:white;
    font-weight:bold;
}

.verde
{
    background:green;
}

.naranja
{
    background:orange;
}

.rojo
{
    background:red;
}

/* animaciones */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

/* para que la imagen se vea igual en todas las tarjetas, margen abajo porque el texto estaba muy pegado */
.card-body img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 1rem;
}