@font-face {
    font-family: 'Danmakudle';
    src: url('../font/danmakudle.woff2') format('woff2');
}

* {
    font-family: 'Danmakudle', monospace;
}

body {
    background-image: url('../img/bg.jpg');
    background-size: cover;

    color:rgb(255, 255, 255);
}

.subtitulo {
    color:rgb(173, 173, 173);
}

/* para login, registro... */
.card-log {
    background-color: #111 !important;
    border-color:#444 !important;
    color: #fff !important;

    max-width: 500px;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
}

.card-log-header {
    background-color: #ffffff !important;
    border-bottom: 1px solid #333 !important;
    color: #fff !important;
}

.card-log-footer {
    background-color: #000 !important;
    border-color: #444 !important;
}


.container {
    overflow-x: clip;
    width: 100%;
}

.tabla-intentos {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-intentos th,
.tabla-intentos td {
    min-width: 150px;
    padding: 12px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 4px solid white;
}

.tabla-intentos th {
    background: #222;
}

@media (max-width: 700px) {
    .tabla-intentos {
        display: block;
        overflow-x: auto;
        width: 100%;
        max-width: 100vw;
        border-collapse: collapse;
        margin-top: 20px;
    }
}

.caja {
    min-width: 150px;
    padding: 12px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.verde {
    background: green;
}

.naranja {
    background: orange;
}

.rojo {
    background: red;
}

/* animaciones y color de las cartas*/
.card {
    transition: transform 0.3s;

    background-color: rgba(20, 20, 20, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

.card h2 {
    color: #ffffff;
}

.card .subtitulo {
    color:rgb(170, 170, 170);
}

.card:hover {
    transform: scale(1.03);
}

/* para que la imagen se vea igual en todas las tarjetas, margen abajo porque el texto estaba muy pegado */
.card-body img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.silueta {
    filter: brightness(0);
}

#texto-vidas {
    display: flex;
    align-items: center;
    gap: 5px;
}

#vidas {
    display: flex;
    gap: 5px;
}

.btn-danmaku {
    background-color: rgb(80, 5, 32);
    border-color: rgb(20, 2, 8);
    font-weight: bold;
    color: white;
}

.btn-danmaku:hover {
    background-color: rgb(179, 12, 73);
    border-color: rgb(241, 191, 208);
    font-weight: bold;
    color: rgb(36, 2, 2);
}

.texto-buscador
{
   color: black; 
}